:80 {
    respond "Hello World" 200
}

la.aninja.cc {
    tls /etc/trojan-go/fullchain.pem /etc/trojan-go/privkey.pem
    respond "Hello World SSL la" 200
}

:443 {
    tls /etc/trojan-go/fullchain.pem /etc/trojan-go/privkey.pem
    respond "Hello World SSL 443" 200
}
