:80 {
    respond "Hello World" 200
}

:443 {
    tls {$SSL_CERT} {$SSL_KEY}
    respond "Hello World SSL 443" 200
}

{$MY_DOMAIN} {
    tls {$SSL_CERT} {$SSL_KEY}
    respond "Hello World SSL {$MY_DOMAIN}" 200
}
